<ion-header>
  <ion-toolbar>
    <ion-title> Feed your pet </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label>
        Prochaine alerte dans :
        {{ remainingTime / (60 * 1000) | number: '1.0-0' }} minutes
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="startTimer()"
    >"Je viens de me réveiller"</ion-button
  >
  <ion-button expand="full" (click)="stopTimer()"
    >Arrêter le minuteur</ion-button
  >
</ion-content>
